.icon {
  width: 20rem;
  height: 20rem;
  display: inline-block;
  fill-color: white;
}

.cssIcon {
  width: 20rem;
  height: 20rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
