.icon {
  width: 20rem !important;
  height: 20rem !important;
  display: inline-block;
}

.container {
  height: 28rem !important;
}

.tag {
  display: inline-block;
  background-color: rgba(254, 254, 254, 0.1);
  color: rgba(220, 220, 220, 1);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12rem;
  vertical-align: middle;
}
